<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Template002</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
         <script src="../js/jsc02.js"></script>
		<style>
            .fakeimg {
                height: 200px;
                background: #aaa;
                padding: 5px;
            }

            iframe {
                width: 100%;
                border-radius: 15px;
                height: 100%;
            }
        </style>

    </head>
    <body>
      
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" style="margin-top:30px">
            <div class="row">
        
               
             
            </div>
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>Footer-Pie</p>
        </div>
        <pre><a href="/">[To Parent Directory]</a><br><br> 12/4/2018 11:44 PM        &lt;dir&gt;
         <a href="/webspace/App_Data/">App_Data</a><br> 12/5/2018  9:41 PM        &lt;dir&gt;
          <a href="/webspace/cmd/">cmd</a><br>12/13/2018 11:24 PM        &lt;dir&gt; 
          <a href="/webspace/DisplayDirectoryContents/">DisplayDirectoryContents</a><br>12/13/2018 10:34 PM        25485 
          <a href="/webspace/favicon.ico">favicon.ico</a><br>12/10/2018  8:52 PM        &lt;dir&gt; <a href="/webspace/files/">files</a><br>12/11/2018  9:35 PM        &lt;dir&gt; <a href="/webspace/images/">images</a><br>12/10/2018  9:33 PM         4455 <a href="/webspace/index.html">index.html</a><br>12/12/2018 12:15 AM        &lt;dir&gt; <a href="/webspace/js/">js</a><br>12/14/2018 12:28 AM        &lt;dir&gt; <a href="/webspace/menulist/">menulist</a><br>12/13/2018 11:42 PM        &lt;dir&gt; <a href="/webspace/pages/">pages</a><br>12/15/2018  5:32 AM        &lt;dir&gt; <a href="/webspace/snipets/">snipets</a><br>12/12/2018  1:30 AM        &lt;dir&gt; <a href="/webspace/styles/">styles</a><br>12/10/2018  8:54 PM        &lt;dir&gt; <a href="/webspace/templates/">templates</a><br> 12/5/2018  9:42 PM        &lt;dir&gt; <a href="/webspace/vbs/">vbs</a><br>12/13/2018 10:56 PM          651 <a href="/webspace/web.config">web.config</a><br></pre>
        <button onclick="alert($('pre').html().split(/\n/).length)">botton</button>
		        <script>
		    
search01();
        </script>
    </body>
</html>
