<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="Styles/css01.css">

<script src="file:///C:/Users/Jota/Desktop/Programming/Page001/script01.js">



</script>
</head>
<body>

<div  class="container-fluid">

<div class="row">
<div id="cont01"  >
  <h1>HTML Templates</h1>
  <p>Templates with HTML,CSS and javascript code to be reused on demand</p>
 </div>
 </div>
  <div id="row01" class="row">
    <div class="col-sm-2" style="border:solid 1px blue;background-color:lavender;">

      <a type="button" class="btn btn-primary" target="ifr01" href="file:///C:/Users/Jota/Desktop/Programming/Page001/Pages/grid01.html">Grid01</a>
      <a type="button" class="btn btn-primary" target="ifr01" href="file:///C:/Users/Jota/Desktop/Programming/Page001/Pages/index.html">Index</a>

    </div>


    <div class="col-sm-7" style=" background-color:white;">

      <iframe origin="same" id="ifr01" name="ifr01" style="overflow-x:hidden;" src=""></iframe>

    </div>

    <div class="col-sm-3" style="border:solid 1px blue;">

      <div class="row cl05">
      
       <div class="col ">
 
              <div class="row cl06">
              <div>
              <p> Tool01</p> 

               <button onclick="myFunction();">boton</button>
               <button onclick="uno();">uno</button>
               <button onclick="dos();">dos</button>

                </div>
               </div>
              <div class="row cl07">
              row cl07

        
               </div>
       </div>
        
      </div>
      <div class="row cl05">
       row
      </div>

    </div>
  </div>
</div>
<script>

</script>
</body>
</html>
