<div class="master0 master01 div_type01 border_01 style_01">
    <div class='div_brand'>
        Plantilla3
    </div>
    <button>boton</button>
    <span class="border_02">span</span>
    <div class="div_tool01 border_02">
        <button class="down" onclick="">_</button>
        <button class="max" onclick="">[]</button>
        <button class="min" onclick="">X</button>
    </div>
    <div class="div_type02 border_02">
        <button>boton</button>
        <button onmousedown="mueve_01(this.parentElement.parentElement.className);">boton</button>

        <span>span</span>

    </div>
</div>