button {
    border: outset;
    border-radius: 10px;
    padding: 20px;
}

body {
    background-color: black;
    color: lawngreen;
}

.k-textbox {
    background: transparent;
    border: outset;
    border-radius: 8px;
    color: lawngreen;
}

.border_01 {
    border: outset;
    border-radius: 12px;
}

#head01 {
    position: absolute
}