button {
    border: outset;
    border-radius: 10px;
    padding: 20px;
}

body {
    background-color: black;
    color: lawngreen;
}

.k-textbox {
    background: transparent;
    border: outset;
    border-radius: 8px;
    color: lawngreen;
}

.border_01 {
    border: outset;
    border-radius: 12px;
}

html {
    background: black;
}

#head01 {
    position: absolute;
    bottom: 0px;
    background: black;
    right: 2px;
    left: 2px;
    padding: 5px;
}

body div {
    background: black;
}

.mnu_footer_table {
    border: outset;
    border-radius: 12px;
    margin-bottom: 10px;
}

img {
    background-color: rgba(245, 245, 245, 0);
}

#resetbutton,
#login {
    text-align: center;
    padding: 0;
}

#head02 {
    position: absolute;
    top: 0px;
    background: black;
    right: 2px;
    left: 2px;
    padding: 5px;
}